body
{
    background-color: #000000;
}

.title
{
  font-size: 40px;
  text-align: center;
  border-bottom: solid 2px;
  border-color: rgb(10, 51, 143);
  color: #FFFFFF;
  width: 400px;
}

.title2
{
  font-size: 40px;
  text-align: center;
  border-bottom: solid 2px;
  border-color: rgb(10, 51, 143);
  color: #FFFFFF;
  width: 200px;
}

#tabla
{
  background-color: #FFFFFF;
  width: 90%;
  padding: 2% 2% 2% 2%;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 2%;
}
